<div id="welcome">
  <div class="container">
    <h1>Dashboard</h1><hr>
    <div class="card" style='width:10rem'>
      <div class="card-head">
        <h1>Test</h1>
      </div>
      <div class="card-body">
        <p>Test</p><br>
        <button type="button" class='btn btn-info' name="button">Test</button>
      </div>

    </div>
</div>
</div>

<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
