<div class="container">
<form class="form-control" action="/group" method="post">
<input type="text" placeholder='Group Name' name="name" value="">
<input type="text" placeholder='ids' name="ids" value="[5bcbce5b406c2f873a9d0596, 5bcbce5b406c2f873a9d0595, 5bcbce5b406c2f873a9d0594]">
<input type="submit" name="submit" value="submit">
</form>
</div>
