<div id="welcome">
  <div class="container">
    <h1>Dashboard</h1><hr>

    <% _.each(user, function(user){ %>

    <div class="card" style='width:10rem'>
      <div class="card-head"><br><center>
        <h5><%= user.name %></h5></center><hr>
      </div>
      <div class="card-body">
        <p><%= user.desc %></p><br>
        <button style='float:right' type="button" class='btn btn-info' name="button">View</button>
      </div>

    </div>


    <% }) %>

</div>
</div>
