
<div id="welcome">
  <div class="container">
    <h1>Dashboard</h1><hr>



    <div class="card" style='width:50rem'>
      <div class="card-head"><br><center>
        <h5><%= user.id %></h5></center><hr>
      </div>
      <div class="card-body">
        <p>Desc</p><br>
        <button style='float:right' type="button" class='btn btn-info' name="button">View</button>
      </div>

    </div>


</div>
</div>
