<div class="container">
<center>
  <h1>New Message for <%= groups %> </h1>
</center>
<div class="">
  <input type="text" class='form-control' placeholder='Subject' name="" value=""><br>
  <textarea name="name" class='form-control' rows="8" cols="80" placeholder='Message Contents'></textarea>
</div>
</div>
