<script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js'></script>
<style media="screen">
  .select:hover{
    background-color: lightblue;

  }
</style>
<div class="container">
<br>
<h1>Upload CSV</h1><hr>
<!-- See https://stackoverflow.com/questions/14446447/how-to-read-a-local-text-file -->
<div class="">

<form action="" method="">
<b>  <label for="csvdata" class='label'>Data:</label></b>
<input class='form-control' style='width:30rem' type="file" onchange='openFile(event)' name="csvraw"/>
<input type="text" style='margin-top:-2.5rem;margin-left:32rem;width:30rem' class='form-control' id='group' placeholder='New Group' name="group" value="">
<button type="button" style='margin-top:-4rem;margin-left:63rem;' class='btn btn-info' onclick='create()' name="button"><b>+</b></button>

<br>
<div style='margin-top:-1.5rem;margin-left:32rem;width:30rem;height:1.7rem;display:none;' class="hova card" id='setme'>

</div>
  <br>
  <textarea class='form-control' rows="15" style='width:30rem' id="csvdata" name="csvdata" placeholder="Paste Data here"></textarea>
  <input type="hidden" name="group" id='swap' value="">

  <div class="card" style='width:30rem;margin-top: -23.35em; position: absolute;margin-left:32em;height:23.35rem'>
    <div class="card head">
      <center><br>
      <h4>Select a Group</h4>
    </center>
    </div>
    <div class="card body" id='cBody' style='overflow:auto'>
      <% _.each(group, function(group){ %>
        <center class='select' onclick="picked('<%= group.name %>')" id='<%= group.name %>'>
        <p   style='height:1rem;'> <%= group.name %> </p>
        </center>
       <% }) %>
    </div>
  </div>
  <br>
  <button style='margin-left:57.2rem' onclick='finalSend()' class='btn btn-info'>Submit</button>
</form>
</div>




</div>
<script>
var data = {}
var openFile = function(event){
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function(){
        var text = reader.result;
        var node = document.getElementById('csvdata');
        node.value = text;
        console.log(reader.result.substring(0, 200));
    };
    reader.readAsText(input.files[0]);

}
var groups = []
var finalData = {
  group: []
}
if (finalData.group == undefined) {
  finalData.group = []
}

function picked(name){
var item = document.getElementById(name)




if (item.style.backgroundColor == 'lightblue') {
  item.style.backgroundColor = 'white'
  finalData.group.pop(name)
  document.getElementById('swap').value = finalData.group
}
else{
  item.style.backgroundColor = 'lightblue'
  finalData.group.push(name)
  document.getElementById('swap').value = finalData.group

}

// console.log(finalData.group);
}
function create(){
  var data = document.getElementById('group').value
if (document.getElementById(data) == undefined) {

  axios.post('/group', {"name": data}).then(function(rdata){
    if (rdata.status == 200) {
      var string = "<center class='select' onclick='picked("+ '"' + data+'"' +")' id='"+data+"'>  <p   style='height:1rem;'> "+ data +" </p>"
      document.getElementById('cBody').innerHTML = document.getElementById('cBody').innerHTML + string
    }

  })
}
else{
  alert('Cannot Add Duplicate Name!!')
  document.getElementById('group').value = ''
}
}
function makeid() {
  var text = "";
  var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

  for (var i = 0; i < 5; i++)
    text += possible.charAt(Math.floor(Math.random() * possible.length));

  return text;
}
function finalSend(){
  finalData = {
  'csvdata' : document.getElementById('csvdata').value,
  'group' : finalData.group,
  'csvid': makeid()
  }
  console.log('HERE');
  console.log(finalData.group);
  axios.post('/csv', finalData).then(function(data){
    console.log(data.data);
  })
}

</script>
