<div id="faq">
  <div class="container">
    <h1>FAQ</h1>
    <div class="q-and-a">
      <hr/>
      <h4>What Notiflye is for?</h4>
      <p>To customize the notifications process for organizations.</p>
      <p>Notify only the people that need to be notified.</p>
      <p>Upload and update .CSV files.</p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>What do I need to run Notiflye?</h4>
      <p>To run Notiflye you need to have a server running NodeJS, access to a MongoDB server (It can be either local to your server, or a hosted solution), a Twillio Account with a valid key, and a Gmail account.</p>
    </div>

    <div class="q-and-a">
      <hr/>
      <h4>How do I install Notiflye?</h4>
      <p></p>
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>How do I deploy to Heroku?</h4>
      <!-- <p>In your <a target="_blank" href="https://dashboard.heroku.com">Heroku dashboard</a>, configure your app to auto-deploy from the <code>deploy</code> branch of this project's GitHub repository. Then, from the command line, run <code>sails run deploy</code>.</p>
      <p>For more deployment tips, <a href="https://sailsjs.com/documentation/concepts/deployment">click here</a>.</p> -->
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>Do I have to host on Heroku?</h4>
      <p>No way!  You can deploy your app <a target="_blank" href="https://sailsjs.com/documentation/concepts/deployment/hosting">anywhere that supports Node.js</a>.</p>
    </div>
    <div class="q-and-a">
      <hr/>
      <!-- <h4>How do I verify my user's email addresses?</h4>
      <p>By default, email verification is neither required for signup, nor for when an existing user changes their email address from their account page.  To enable an email verification step for both of these actions, open <code>config/custom.js</code> and change <code>verifyEmailAddresses: false</code> to <code>verifyEmailAddresses: true</code>.</p> -->
    </div>
    <div class="q-and-a">
      <hr/>
      <h4>Where can I go for more help?</h4>
      <p>Contact Notiflye team</p>
    </div>
  </div>
</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
